@model List<Activities>
@{
    ViewData["Title"] = "Index";
}

<h1>Activity List</h1>
<br />
<hr />
<br />
@if (User.IsInRole("Teacher"))
{
    <a asp-action="AddActivities" asp-controller="Activities">Add new activity</a>
    <br />
    <hr />
    <br />
}
<form>
    <label>Search Activity: </label> &nbsp; &nbsp;
    <input type="text" name="searchActivity" placeholder="e.g. Eat" />&nbsp; &nbsp;
    <button class="btn-primary" type="submit">Search activity</button>
</form>

<br />
<table border="1">
    <tr style="">
        <th>Activity ID</th>
        <th>Activity Name</th>
        <th>Date</th>
        @if (User.IsInRole("Teacher"))
        {
            <th>Edit</th>
            <th>Delete</th>
        }
    </tr>

    @foreach (var activity in Model)
    {
        <tr>
            <td>@activity.activityId</td>
            <td>@activity.activityName</td>
            <td>@activity.date</td>
            @if (User.IsInRole("Teacher"))
            {
                <form method="post">
                    <td><button style="btn-primary" asp-action="EditActivities" asp-controller="Activities" asp-route-fid="@activity.activityId">Edit</button></td>
                <td><button style="btn-primary" asp-action="DeleteActivities" asp-controller="Activities" asp-route-fid="@activity.activityId">Delete</button></td>
                </form>
            }
        </tr>
    }
</table>

