@model List<Activities>
@{
    ViewData["Title"] = "Index";
}
<center>
    <h1>Activity List</h1>
    <br />
    <hr />
    <br />
    @if (User.IsInRole("Teacher"))
    {
        <a asp-action="AddActivities" asp-controller="Activities">Add new activity</a>
        <br />
        <hr />
        <br />
    }
    <form>
        <label>Search Activity: </label> &nbsp; &nbsp;
        <input type="text" name="searchActivity" placeholder="e.g. Eat" />&nbsp; &nbsp;
        <button class="btn-primary" type="submit">Search activity</button>
    </form>

    <br />
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">

            <tr>
                <th>Activity ID</th>
                <th>Activity Name</th>
                <th>Date</th>
                @if (User.IsInRole("Teacher"))
                {
                    <th>Edit</th>
                    <th>Delete</th>
                }
            </tr>
        </thead>
        <tbody>
        @foreach (var activity in Model)
        {
            <tr>
                <td>
                    <div class="ms-3">
                        <p action="text-muted mb-0"> @activity.activityId</p>
                    </div>
                </td>
                    <td>
                        <p action="text-muted mb-0"> @activity.activityName</p>
                    </td>
                    <td>
                        <p action="text-muted mb-0"> @activity.date</p>
                    </td>
                @if (User.IsInRole("Teacher"))
                {
                    <form method="post">
                        <td><button class="btn-secondary" asp-action="EditActivities" asp-controller="Activities" asp-route-fid="@activity.activityId">Edit</button></td>
                        <td><button class="btn-secondary" asp-action="DeleteActivities" asp-controller="Activities" asp-route-fid="@activity.activityId">Delete</button></td>
                    </form>
                }
            </tr>
        }
        </tbody>
    </table>
</center>

