@using Microsoft.AspNetCore.Identity
@using DDAC.Areas.Identity.Data

@inject UserManager<DDACUser> UserManager
@model List<HealthRecords>
@{
    ViewData["Title"] = "Index";
}

@if (TempData["enrolled"] != null)
{
    <script>
        alert(@Json.Serialize(TempData["enrolled"]));
    </script>
}
<h1>Health Records for student</h1>
<br />
<hr />
<br />

<table border="1">
    <tr style="">
        <th>Record ID</th>
        <th>Child Name</th>
        <th>Date</th>
        @if (UserManager.GetUserName(User) == "test123@gmail.com")
        {
            <th>Edit</th>
            <th>Delete</th>
        }
    </tr>
    @foreach (var Health in Model)
    {
        <tr>
            <td>@Health.recordID</td>
            <td>@Health.childName</td>
            <td>@Health.sickDate</td>
            @if (UserManager.GetUserName(User) == "test123@gmail.com")
            {
                <form method="post">
                    <td><button style="btn-primary" asp-action="EditRecord" asp-controller="Health" asp-route-rid="@Health.recordID">Edit</button></td>
                    <td><button style="btn-primary" asp-action="DeleteRecord" asp-controller="Health" asp-route-rid="@Health.recordID">Delete</button></td>
                </form>
            }
        </tr>
    }
</table>

